html, body {
  background-color: @bodyBackground;
  background-image: url(@bodyBackgroundImage);
  height: 100%;
}

#non-footer {
  position: relative;
  min-height: 100%;
}

* html #non-footer {
  height: 100%;
}

#content {
  padding-bottom: @footerHeight;
}
/*
#header{
  background-color: #000;
  background-image: url(@headerBackgroundImage);
  padding-bottom: 1em;

  .header-left {
  }
  .brand {
    font-family: "Sansita One", cursive;
    font-size: 2em;
    line-height: 1.5em;
    margin-left: 2px;
    &:hover {
      color: @linkColor;
      text-decoration: none;
    }
  }
  .header-subtext {
    color: @gray;
    font-family: "Sansita One", cursive;
    margin-left: 1px;
    &:hover {
      color: @linkColor;
      text-decoration: none;
    }
  }
}
*/
footer {
  margin-top: -@footerHeight;
  height: @footerHeight - 1em;
  margin-bottom: 1em;
  position: relative;
  text-align: center;
  .container {
    .well();
    display: inline-block;
    height: @footerHeight - 3em;
    margin-bottom: 0;
    min-height: 0;
    padding: 1em;
    width: auto;
    .social-media {
      .thumbnails {
        margin: 0;
        padding: 0;
        li {
          margin-left: @gridGutterWidth / 8;
          margin-bottom: 0;
          i {
            color: @navbarBackground;
            font-size: 3em;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

strong {
  color: @emphasis;
}
