/* Fonts for songs */

@font-face{
	font-family: Zadoka; 
	src: url('Zadoka.otf');
}

@font-face{
	font-family: CaviarDreams; 
	src: url('CaviarDreams-webfont.ttf');
}

@font-face{
	font-family: CaviarDreamsItalic; 
	src: url('CaviarDreamsItalic-webfont.ttf');
}

@font-face{
	font-family: CaviarDreamsBold; 
	src: url('CaviarDreams_Bold-webfont.ttf');
}

@font-face{
	font-family: CaviarDreamsBoldItalic; 
	src: url('CaviarDreams_BoldItalic-webfont.ttf');
}