/*style sheet for http://www.seas.upenn.edu/~gmenezes
Copyright 2010, Gary Menezes*/

html{
	overflow: scroll
}

.backround_wrapper{
	width:100%;
	background-repeat:repeat-x;
}
#background_top{
	background-image:url('images/background_top.png');
}
body{
	text-align:center;
	background-color:black;
	padding:0;
	margin:0;
}
div.content{
	margin: 0 auto;
	text-align:left;
	width:1000px;
	overflow:hidden;
}
#menu_content{
	background-image:url('images/menu_background.png');
	height:162px;
	position:relative;
	top:10px;
	left:0%;
	z-index:2;
}
#menu_signature{
	background-color:transparent;
	position:relative;
	margin:0 20px 0 30px;
	top:55px;
}
#menu_links{
	position:relative;
	left:270px;
	top:-10px;
}
#menu_links td{
	width:100px;
}
.menu_link img{
	display:block;
    margin-left:auto;
    margin-right:auto;
}
.menu_link p{
	font:bold 16px "Times New Roman", serif;
	color:gray;
	margin-top:0px;
	margin-bottom:0px;
	text-align:center;
    margin-left:auto;
    margin-right:auto;
}
a:active, a:focus{
	outline:0;
}
#sidebar{
	position:relative;
	top:0px;
	left:10px;
	width:185px;
	float:left;
}
#sidebar li{
	width:186px;
	height:44px;
	margin-top:7px;
	position:relative;
	text-align:center;
}
#sidebar ul{
	list-style:none outside none;
}
#sidebar a{
	color:#FFFFFF;
	padding:0.5em;
	display:block;
	text-decoration:none;
	font:20px "Times New Roman", serif;
	font-variant: small-caps;
}
#sidebar a:link{
	color:gray;
}
#sidebar a:visited{
	color:gray;
}
#sidebar a:hover{
	color:white;
}
#sidebar a:active{
	color:blue;
}
#sidebar .on_sidebar{
	background-image:url("images/sidebar_on_background.png");
}
#sidebar .on_sidebar a:link{
	color:white;
}
#sidebar .on_sidebar a:visited{
	color:white;
}
#sidebar .off_sidebar{
	background-image:url("images/sidebar_off_background.png");
}
#page_content .off_content{
	display:none;
}
#page_content .on_content{
	display:block;
}
#page_content{
	position:relative;
	top:-15px;
	right:80px;
	background-color:white;
	width:640px;
	min-height:510px;
	float:right;
}
#page_content p,ol{
	position:relative;
	left:40px;
	width:560px;
	font:17px "Times New Roman", serif;
	color:black;
	margin-top:10px;
	margin-bottom:0px;
	text-align:left;
}
#page_content ol{
	width:520px;
}
#page_content ul{
	list-style:none outside none;
}
#page_content ul p{
	left:0px;
}
#page_content a:link{
	color:blue;
}
#page_content a:visited{
	color:blue;
}
#page_content a:hover{
	color:black;
}
#page_content a:active{
	color:red;
}
#page_content a{
	text-decoration: none;
}
#page_content h3{
	font-size:20px;
	width:580px;
	color:blue;
	margin: 0 0;
}
#page_content blockquote{
	position:relative;
	left:20px;
	width:540px;
}
#page_content .content_emphasis{
	font:bold 20px "Times New Roman", serif;
	color:blue;
}
#page_content .content_small{
	font:bold 14px "Times New Roman", serif;
}
#background_bottom{
	position:relative;
	top:-15px;
	background-image:url('images/background_bottom.png');
	height:33px;
	overflow:hidden;
}
#meta_content{
	position:relative;
	top:-50px;
	font:20px "Times New Roman", serif;
	color:#AEAEAE;
	font-variant: small-caps;
}
#meta_content img{
	position:relative;
	top:5px;
	height:20px;
}
