/*style sheet for http://www.seas.upenn.edu/~gmenezes
Copyright 2010, Gary Menezes*/

html,body{height:100%; padding:0; margin:0}
#wrapper {min-height: 100%;}

#main {overflow:hidden;
	padding-bottom: 33px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -33px; /* negative value of footer height */
	height: 33px;
	clear:both;
  background-image:url('images/background_bottom.png');
  overflow:hidden}

.site_wide{width:980px;}
.content{margin:0 auto;text-align:left;width:1000px;}
#header{height:120px;margin:0 auto;}
#menu_signature{background-color:transparent;position:relative;margin:0 20px 0 30px;top:45px;}
#menu_links{position:relative;left:275px;top:-20px;}
#menu_links td{width:100px;}
.menu_link img{display:block;margin:0 auto}
.menu_link p{font:bold 16px "Times New Roman", serif;color:gray;text-align:center;margin:0 auto}
a:active, a:focus{	outline:0;}
#sidebar{position:relative;top:15px;left:50px;width:185px;float:left;}
#sidebar li{width:186px;height:44px;margin-top:7px;position:relative;text-align:center;}
#sidebar ul{list-style:none outside none;position:relative;left:-40px;}
#sidebar a{color:#FFFFFF;padding:0.5em;display:block;text-decoration:none;font:20px "Times New Roman", serif;font-variant: small-caps;}
#sidebar a:link, a:visited{color:gray;}
#sidebar a:hover{color:black;}
#sidebar a:active{color:gray;}
#sidebar .on_sidebar{background-image:url("images/sidebar_on_background.png");}
#sidebar .on_sidebar a:link, a:visited{color:blue;}
#sidebar .off_sidebar{	background-image:url("images/sidebar_off_background.png");}
#page_content .off_content{display:none;}
#page_content .on_content{display:block;}
#page_content{position:relative;right:50px;background-color:white;width:640px;float:right;border-top-style:dashed;border-color:blue;border-width:1px;}
#page_content p,ol{position:relative;top:-10px;font:16px "Andale Mono", monospace;color:black;text-align:left;}
#page_content ol{width:600px;}
#page_content ul{list-style:none outside none;}
#page_content a:link{color:blue;}
#page_content a:visited{color:blue;}
#page_content a:hover{color:black;}
#page_content a:active{color:red;}
#page_content a{text-decoration: none;}
#page_content h3{font-size:20px;width:580px;color:blue;}
#page_content blockquote{position:relative;left:10px;width:540px;font:14px "Andale Mono", monospace;}
#page_content .content_emphasis{font:bold 20px "Andale Mono", monospace;color:blue;}
#page_content .content_small{font:bold 14px "Andale Mono", monospace;}
.full_project{width:100%;}
.half_project{width:40%;border:solid;border-color:black;border-width:1px;}
#meta_content{background-image:url('images/meta_background.png');font:20px "Andale Mono", monospace;color:#AEAEAE;font-variant: small-caps;}
#meta_content img{position:relative;top:5px;height:20px;}
#meta_content #meta_left{position:relative;left:120px;}
#meta_content #meta_center{position:relative;left:210px;}
#meta_content #meta_right{position:relative;left:310px;}