.project p{
  text-indent: 1em;
}
.project .btn-large{
  padding: 5.5px 14px;
}
.project a i{
  font-size: 2em;
  float: left;
}
.project a p{
  float: left;
  margin-left: 0.5em;
  margin-top: 0.5em;
  text-indent: 0em;
}

.content{
  margin-top: 20px;
}


.project-media-element{
  margin: 0 auto;
  margin-bottom: 1em;
  width: 90%;
}

.flash-embed-container {
  position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.flash-embed-container iframe,  
.flash-embed-container object,  
.flash-embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > .navbar {
  font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

